#!/bin/sh
export RELEASE_DISTRIBUTION=name
export RELEASE_NODE=reactor@{{ hostvars[inventory_hostname].wg.monorail.ip }}
export HOSTS={{ hostvars | dict2items | map(attribute='value.wg.monorail.ip') | map('regex_replace', '^(.*)$', 'reactor@\\1') | join(',') }}
export COMSFACILITY=amqp://ishii:tehdevilisrl@{{ hostvars['hangar'].wg.monorail.ip }}
export FATZOMBIE={{ hostvars['hangar'].wg.monorail.ip }}
bin/reactor start_iex