[Interface]
Address = {{ wg[profile].ip }}/{{ wg[profile].mask_bits }}
ListenPort = {{ wg[profile].listen_port }}
PrivateKey = {{ wireguard_private_key.stdout }}

{% for peer in ansible_play_hosts %}
{% if peer != inventory_hostname %}
[Peer]
PublicKey = {{ hostvars[peer].wireguard_public_key.stdout }}
AllowedIPs = {{ hostvars[peer].wg[profile].ip }}
Endpoint = {{ hostvars[peer].ansible_host }}:{{ hostvars[peer].wg[profile].listen_port }}
{% endif %}
{% endfor %}